- @posts.each do |post|
  = link_to (image_tag post.image.url(:small)), post
  %br
  %h3= link_to post.title, post
  %p
    = post.comments.count
    Comments
  %br
  %p
    = post.get_upvotes.size
    Likes

  
  = link_to "Delete", post_path(post), method: :delete, data: { confirm: "Are you sure?" }
  = link_to "Edit", edit_post_path(post)
  %br

%br

= link_to "New post", new_post_path