= image_tag @post.image.url(:medium)
%h1= @post.title
%p= @post.link
%p= @post.description
%br
%p= @post.user.name
%p
  = @post.get_upvotes.size
  Likes
%p
  = @post.get_downvotes.size
  Dislikes
= link_to "Like", like_post_path, method: :put
= link_to "Dislike", dislike_post_path, method: :put

#comment
  %h2.comment_count= pluralize(@post.comments.count, "comment")
  - @comments.each do |comment|
    .comment
      %p.username= comment.user.name
      %p.content= comment.content
      
  = render 'comments/form'

= link_to "Back", root_path
= link_to "Edit", edit_post_path(@post)
= link_to "Delete", posts_path(@post), method: :delete, data: { confirm: "Are you sure?" }